<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CollectionSelections</key>
	<dict>
		<key>ED9F42CB-8CEB-4870-9E2B-055AE0543F3E</key>
		<array>
			<string>878C502B-9616-42E0-BEFD-78A34FD1FF47</string>
		</array>
	</dict>
	<key>CommentsScaleFactor</key>
	<real>1</real>
	<key>CommentsUseTextScale</key>
	<true/>
	<key>CompileFolder</key>
	<string>/Users/f___yo_/Desktop</string>
	<key>MainWindowShowsFormatBar</key>
	<true/>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>QRPanelSettings</key>
	<dict>
		<key>22712F69-DEF4-4311-9F4D-1097577D47B8</key>
		<dict>
			<key>BinderUUID</key>
			<string>22712F69-DEF4-4311-9F4D-1097577D47B8</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>1280</real>
			<key>MediaSettings</key>
			<dict>
				<key>PDFPage</key>
				<integer>27</integer>
			</dict>
			<key>PDFAutoScales</key>
			<false/>
			<key>PDFDisplayMode</key>
			<integer>1</integer>
			<key>PDFScale</key>
			<real>1</real>
			<key>ProjectBookmarksSplitInfo</key>
			<array>
				<string>{{0, 0}, {225, 495}}</string>
				<string>{{235, 0}, {443, 495}}</string>
			</array>
			<key>ProjectBookmarksVisible</key>
			<false/>
			<key>ShowsFormatBar</key>
			<false/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>WindowFrame</key>
			<string>512 290 1280 671 0 0 1920 1055 </string>
		</dict>
		<key>B22EBE53-626A-42AF-9B67-20AEDB775C37</key>
		<dict>
			<key>BinderUUID</key>
			<string>B22EBE53-626A-42AF-9B67-20AEDB775C37</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>1515</real>
			<key>ProjectBookmarksSplitInfo</key>
			<array>
				<string>{{0, 0}, {225, 495}}</string>
				<string>{{235, 0}, {443, 495}}</string>
			</array>
			<key>ProjectBookmarksVisible</key>
			<false/>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>isRulerVisible</key>
				<false/>
				<key>lineNumberingInterval</key>
				<integer>1</integer>
				<key>showsLineNumbers</key>
				<false/>
				<key>textFocusMode</key>
				<integer>0</integer>
				<key>textScaleFactor</key>
				<real>1.75</real>
				<key>usesFacingPages</key>
				<false/>
				<key>usesTypewriterScrolling</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>355 1160 1515 1015 -1792 -40 1792 1095 </string>
		</dict>
	</dict>
	<key>binderSelection</key>
	<array>
		<integer>0</integer>
	</array>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {227, 743}}</string>
		<string>{{228, 0}, {1291, 743}}</string>
	</array>
	<key>binderState</key>
	<array>
		<string>B6C55511-2734-4414-A8AA-1C056DA41DD5</string>
		<string>A16E8D75-0D44-4F8B-BE37-0DC45C3BE6DB</string>
		<string>E1163B1C-CF5E-4C4E-A2B6-B8B13DF883C8</string>
		<string>94141BD9-EB10-4A9B-8718-6B4997D40BB8</string>
		<string>C9765349-22A8-441A-BC37-B25C347E3381</string>
		<string>CFF7EF50-F8A8-4472-BF10-83636335A49F</string>
	</array>
	<key>bookmarksPreviewTextSettings</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>isRulerVisible</key>
		<false/>
		<key>lineNumberingInterval</key>
		<integer>1</integer>
		<key>showsLineNumbers</key>
		<false/>
		<key>textFocusMode</key>
		<integer>0</integer>
		<key>textScaleFactor</key>
		<real>1.75</real>
		<key>usesFacingPages</key>
		<false/>
		<key>usesTypewriterScrolling</key>
		<false/>
	</dict>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>034CF43D-E317-4000-8855-44041DD5AEA4</key>
		<dict>
			<key>DocID</key>
			<string>5592A884-CB00-4937-93FF-4470EBC2C920</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>06B6F846-1AEF-49F0-8A83-F2585813444A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0D7C15B4-F992-4D30-BD70-995F51943A45</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>167EB7B8-8150-4BA8-859D-DB5AED842700</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>16D0B43E-4D4A-4E66-A572-309E861745B4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>16F770AA-4643-4A56-B0ED-A99709CB903B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1D1A1948-6F80-497A-8B99-466F819C0C79</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>22712F69-DEF4-4311-9F4D-1097577D47B8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>30556525-0582-4FAE-9E4C-ED05C8C283A2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>42855EA4-DB35-4A7D-A619-61A3DFB319A2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>438A7485-D15F-4E5D-8242-B1342D9AF927</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>48A5DCAC-11AA-434A-8DE1-F5C293BE283A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4E27A260-77B3-43BE-A4B1-3B4232ED6B96</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>50367880-F368-4BEE-99EB-FFDD34A0A12D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>51F96E91-99BE-4925-94FF-1C1DE33D6E87</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5592A884-CB00-4937-93FF-4470EBC2C920</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5B45770A-873D-4D0E-BEC7-8AA466F6C799</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>72ABFE97-89AB-49DF-A581-7605F372E2F6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>86FF81CE-5960-45A0-ABC4-80C50BB4533B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8F018F4B-64FE-4327-AC3F-068EA23AFD88</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A1434377-F017-4724-B730-F9FA8715DAFB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AEA4F7B7-95B4-4E16-93E4-53E281405F10</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B22EBE53-626A-42AF-9B67-20AEDB775C37</key>
		<dict>
			<key>DocID</key>
			<string>A1434377-F017-4724-B730-F9FA8715DAFB</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>BC0279FC-3BE7-42F2-A8C1-CC3A9C149E3A</key>
		<dict>
			<key>DocID</key>
			<string>A1434377-F017-4724-B730-F9FA8715DAFB</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>C179F1A2-723D-4814-94F9-405DF9868E62</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C36E4978-E3D3-4A5C-9C88-2B69163AF3E0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C6FCB365-173F-4F75-A93E-C5C335A27F81</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D2ACF724-52A5-4702-AF4D-FDB1C390BC18</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D4E3CDBA-A97F-4D2A-9F03-F5D789FE46F7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>Project</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionSelectionAutosaveName</key>
	<array>
		<integer>0</integer>
	</array>
	<key>collectionsHeight</key>
	<real>115</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>collectionsTabListIsCollapsed</key>
	<true/>
	<key>continuousSpellChecking</key>
	<false/>
	<key>currentAnnotationColor</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmg4ZgZz6DtKzKPYNq9BE/AYY=
	</data>
	<key>editorSplitFrames</key>
	<array>
		<string>{{0, 0}, {1063, 356}}</string>
	</array>
	<key>editorSplitType</key>
	<integer>0</integer>
	<key>fullScreenBackgroundFade</key>
	<real>1</real>
	<key>fullScreenHorizontalPaperPosition</key>
	<integer>2</integer>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenPaperHeight</key>
	<integer>-1</integer>
	<key>fullScreenPaperWidth</key>
	<integer>850</integer>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>fullScreenVerticalPaperPosition</key>
	<integer>2</integer>
	<key>grammarSpellChecking</key>
	<false/>
	<key>inspectorCustomPaneIsCollapsed</key>
	<true/>
	<key>inspectorIsCollapsed</key>
	<true/>
	<key>inspectorReferencesColumns</key>
	<dict>
		<key>order</key>
		<array>
			<string>ICON</string>
			<string>DESCRIPTION</string>
			<string>URL</string>
		</array>
		<key>widths</key>
		<dict>
			<key>DESCRIPTION</key>
			<real>87</real>
			<key>ICON</key>
			<real>16</real>
			<key>URL</key>
			<real>115.4423828125</real>
		</dict>
	</dict>
	<key>inspectorSelectedDataTab</key>
	<integer>0</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {1063, 713}}</string>
		<string>{{1064, 0}, {227, 713}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>227</real>
	<key>lastDocumentSplitType</key>
	<integer>0</integer>
	<key>mainDocumentEditor.PDFAutoScales</key>
	<false/>
	<key>mainDocumentEditor.binderDocuments</key>
	<array>
		<string>62FE5B5B-966F-42D3-8EEF-90B64069337C</string>
	</array>
	<key>mainDocumentEditor.currentEditorViewMode</key>
	<integer>0</integer>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.75</real>
	</dict>
	<key>mainDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>mainDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>label</string>
		<string>status</string>
		<string>sectionType</string>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
		<string>totalTargetCount</string>
		<string>totalProgress</string>
	</array>
	<key>mainDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>title</key>
		<real>993</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {607.42857142857144, 171.42857142857142}}</string>
	<key>mainDocumentEditor.selectedRanges</key>
	<string>{0, 0}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.75</real>
	</dict>
	<key>mainDocumentView</key>
	<string>mainDocumentEditor</string>
	<key>mainWindowFrame</key>
	<string>196 193 1519 771 0 0 1792 1095 </string>
	<key>searchResultsTable</key>
	<dict>
		<key>order</key>
		<array>
			<string>TITLE</string>
		</array>
		<key>widths</key>
		<dict>
			<key>TITLE</key>
			<real>200</real>
		</dict>
	</dict>
	<key>showInvisibles</key>
	<false/>
	<key>smartDashes</key>
	<true/>
	<key>smartQuotes</key>
	<true/>
	<key>supportingDocumentEditor.binderDocuments</key>
	<array/>
	<key>supportingDocumentEditor.currentEditorViewMode</key>
	<integer>2</integer>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.75</real>
	</dict>
	<key>supportingDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>supportingDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>label</string>
		<string>status</string>
		<string>sectionType</string>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
		<string>totalTargetCount</string>
		<string>totalProgress</string>
	</array>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {607.42857142857144, 375.42857142857139}}</string>
	<key>supportingDocumentEditor.selectedItemIDs</key>
	<array/>
	<key>supportingDocumentEditor.selectedItemUUIDs</key>
	<array/>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.75</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
